/* BUTTON */
/* From Uiverse.io by Creatlydev */ 
.button {
  line-height: 1.2;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--c-carbon);
  color: var(--c-saffron);
  border-radius: 9999;
  font-size: var(--font-size-reg);
  font-weight: var(--font-weight-medium);
  padding: var(--space-2) var(--space-10);
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
  text-transform: uppercase;
}
.button__icon-wrapper {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  color: var(--c-carbon);
  background-color: var(--c-snow);
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: var(--c-saffron);
  color: var(--c-carbon);
}

.button:hover .button__icon-wrapper {
  color: var(--c-carbon);
  width: 32px;
  height: 32px;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}
