/* Hero.module.css */
.heroContainer {
  position: relative;
  width: 100%;
  height: 100vh; /* Takes up most of the viewport height */
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: flex-start; /* Aligns text to the left */
  padding: 0 6.5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                    url('/images/cover.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.textContent {
  max-width: var(--container-lg);
  color: var(--c-snow);
  z-index: var(--z-hero);
  margin-top: var(--space-20);
}

.title {
  font-size: var(--font-size-x-xxl);
  font-weight: var(--font-weight-black);
  line-height: var(--leading-tight);
  text-transform: uppercase;
  letter-spacing: -1.5px;
  margin: 0;
  font-family: var(--font-oswald)
}

/* Optional: Slight shadow to ensure readability on bright image spots */
.title span {
  display: block;
}

.royal {
  color: #adb5bd;
  font-size: clamp(4.5rem, 6.3vw, 6rem);
}

/* CTA BTN STYLES */
.hero-cta{
  margin-top: var(--space-10);
}
.hero-services-cta{
  margin-left: var(--space-5);
  background-color: var(--c-saffron);
  color: var(--c-carbon);
}

.hero__icon-wrapper-services{
    background-color: var(--c-snow);
}

.button:hover .hero__icon-wrapper-services {
  color: var(--c-snow);
  width: 31px;
  height: 31px;
  background-color: var(--c-iron);
}

/* scroll down indicator animation */
 
.scroll-down
{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.scroll-down span:nth-child(2)
{
    animation-delay: -0.2s;
}
.scroll-down span:nth-child(3)
{
    animation-delay: -0.4s;
}
.scroll-down span
{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #EEC00B;
    border-right: 3px solid #C39E0B;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
@keyframes animate
{
    0%
  {
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%
  {
        opacity: 1;
    }
    100%
  {
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}