/* Hero.module.css */
.heroContainer {
  position: relative;
  width: 100%;
  height: 100vh; /* Takes up most of the viewport height */
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: flex-start; /* Aligns text to the left */
  padding: 0 var(--space-18);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                    url('/images/cover.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.textContent {
  max-width: var(--container-lg);
  color: var(--c-snow);
  z-index: var(--z-hero);
}

.title {
  font-size: var(--font-size-x-xxl);
  font-weight: var(--font-weight-black);
  line-height: var(--leading-tight);
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0;
  font-family: var(--font-oswald)
}

/* Optional: Slight shadow to ensure readability on bright image spots */
.title span {
  display: block;
}