/* NAVBAR DESKTOP ONLY */

.navbar {
  width: 100%;
  height: 90px;
  padding: 0 var(--space-18);
  margin-top: 1.1em;
  background: var(--color-bg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav-contain{
    display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar__logo {
  display: flex;
  align-items: center;
}

